.random-planet {
    display: flex;
    padding: 1rem;
    min-height: 184px;
    border: 1px solid grey;
}

.random-planet .planet-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.info-block {
    margin-left: 30px;
}

.info-item {
    display: flex;
    padding: 8px 0;
    border-top: 1px solid grey;
}
